:root {
	--background-1: #2b2b2b;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid white;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	background-color: #2b2b2b;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section {
	padding: 1rem;
}

a {
	text-decoration: none;
	color: white;
}
